@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Nunito:wght@300;400&display=swap');

nav{
background-color: #1D3060;
}
header {
    background-color: #1d3060;
    padding: 30px;
}

footer {
    background-color: #006080;
    padding: 40px;
}

footer p {
    color: #fff;
    margin-top: 10px;
    text-align: left;
    font-size: 15px;
}

footer h4 {
    font-size: 17px;
    color: #fff;
    font-weight: 400;
}
body{
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	background-color:#1d3060;
	
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Amatic SC', cursive;
	font-size: 60px;
	color:#FFFFFF;
	
}

.form-group{
	color:#FFFFFF;
}

.section{
padding: 80px 0; 	
	
}

.btn-primary{
	color:#FFFFFF;
	background-color:#e35d67;
	border: #e35d67;
}


.btn-primary:hover{
	background-color:#C83742;
}




